<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/css/globals.css" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <style>
    .particle-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 105px;
    }

    .particle-box {
      width: 200px;
      height: 75px;
      border: 2px solid #000;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="dust-sensor">
    <div class="div">
      <img class="ic-round-menu" src="../static/img/ic-round-menu.svg" />
      <img class="mingcute" src="../static/img/mingcute-notification-fill.svg" />
      <div class="particle-container" id="particle-container">
        <!-- Dust Particle Boxes will be dynamically added here -->
      </div>
      <img class="img" src="../static/img/image-102.png" />
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/function.js"></script>
</body>

</html>