<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Table</title>
</head>

<body>
    <h2 class="alert alert-success" role="alert">Thank you for submitting the details!!!</h2>
    <table style="width:75%"  class="table table-striped center table-bordered">
        <tr>
          <th id="txt">Sr.No.</th>
          <th id="txt">Name</th>
          <th id="txt">Email</th>
          <th id="txt">Phone No.</th>
          <th id="txt">Password</th>
          <th id="txt">Country</th>
          <th id="txt">State</th>
          <th id="txt">Action</th>
        </tr>
        <!-- <tr>
          <td>1</td>
          <td>Jill</td>
          <td>Smith@yahoo.com</td>
          <td>502525256</td>
        </tr> -->
        {% for row in rows %}
        <tr>
          <td>{{ row.0 }}</td>
          <td>{{ row.1 }}</td>
          <td>{{ row.2 }}</td>
          <td>{{ row.3 }}</td>
          <td>{{ row.4 }}</td>
          <td>{{ row.5 }}</td>
          <td>{{ row.6 }}</td>
          <td><a href="/update/{{row.0}}" id="test" type="button" class="btn btn-warning btn-xs">Update</a> 
              <a href="/delete/{{row.0}}" id="test" type="button" class="btn btn-danger btn-xs">Delete</a></td>
        </tr>
        {% endfor %}
    
      </table> 
      <a href="/sign_up" id="btn" type="button" class="btn text-center btn-success btn-lg">Add User</a> 
</body>

</html>