<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ acc_name }}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js' ?></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>
<style>
    .row {
        display: flex;
        align-items: center;
    }

    .col {
        flex: 1;
    }

    .svg-container {
        display: flex;
        justify-content: flex-end;
    }
</style>

<body>
    <div class="container-fluid " style="background-color: #ffffff;">

        <div class="row">
            <div class="col">
                <div class="m-4 ">
                    <img src="{{img}}" style="height: 100px;">
                </div>
            </div>
            <div class="col">
                <span id="currentDateSpan" style="float: right;color: #686868;font-weight: 500;"></span>
                <br>
                <span id="currentTimeSpan" style="float: right; color: #686868; font-weight: 500;"></span>


                <div class="dropdown" style="float: right; color: #686868;  top: 35px; left: 30px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="settingsDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cogs"></i> Settings
                    </button>
                    <div class="dropdown-menu" aria-labelledby="settingsDropdown">
                        {%if can see data == dict{can_see_data}}
                        <a class="dropdown-item" href="/delete_device" onclick="deleteDevice()">Delete Device</a>
                        {%end  if}
                        <a class="dropdown-item" href="/add_device" onclick="addDevice()">Add Device</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row p-5 justify-content-center">
            {% for item in all_data %}
            <div class="row p-5">
                <div class="box pl-5 pr-5 pb-5 pt-3" id="container_{{ loop.index }}"
                    style="background-color: #EAF4FE;border-radius: 20px;">
                    <h4 style="color: #233A5A; font-weight: 600; font-size: 29px;" id="devicename_{{ loop.index }}">{{
                        item.name }}</h4>
                    <hr>
                    <div class="row p-3">
                        <div class="col temprature">
                            <h4 class="text-center" style="color: #233A5A; font-weight: 400; font-size: 26px;">
                                Temperature </h4>
                            <br>
                            <div class="box pl-3 pr-3"
                                style="border: 3px solid #000000; border-radius: 7px; margin-bottom: 20px;">
                                <h4 class="text-center" style="color: #233A5A; font-weight: 600; font-size: 45px;">
                                    <span class="value" id="temp_{{ loop.index }}">
                                    </span>{{ item.temp }}<span>°C</span>
                                </h4>
                            </div>

                        </div>

                        <div class="col" style="margin-top: 20px;"></div>
                        <div class="col humidity">
                            <h4 class="text-center" style="color: #233A5A; font-weight: 400; font-size: 26px;">Humidity
                            </h4>
                            <br>
                            <div class="box pl-3 pr-3"
                                style="border: 3px solid #000000; border-radius: 7px; margin-bottom: 20px;">
                                <h4 class="text-center" style="color: #233A5A; font-weight: 600; font-size: 45px;">
                                    <span class="value" id="hum_{{ loop.index }}">
                                    </span>{{ item.hum }}<span>%</span>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="row p-3 diff_pres">
                        <h4 class="text-center pr-3" style="color: #233A5A; font-weight: 400; font-size: 26px;">
                            Differential Pressure</h4>
                        <div class="box pl-3 pr-3"
                            style="border: 3px solid #000000; border-radius: 7px; margin-bottom: 20px;">
                            <h4 class="text-center" style="color: #233A5A; font-weight: 600; font-size: 45px;">
                                <span class="value" id="dp_{{ loop.index }}">
                                </span>{{ item.dp }}<span>pa</span>
                            </h4>
                        </div>
                    </div>
                </div>


            </div>
            {% endfor %}
        </div>

    </div>



    <script src="../static/js/function.js"></script>
</body>

</html>