<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="frame">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <div class="nav-bar">
              <img class="menu-bar-icon" src="../static/img/menu-bar-icon.svg" />
              <img class="notofication-bell" src="../static/img/notofication-bell-icon.svg" />
              <div class="text-wrapper">EVOLUZN</div>
            </div>
            <div class="smart-LED">
              <div class="div">
                <div class="text-wrapper-2">Smart LED</div>
                <div class="group">
                  <div class="ON-button">
                    <div class="ON-icon">
                      <div class="overlap-group-2">
                        <img class="ellipse" src="../static/img/ellipse-6.svg" /> <img class="line" src="../static/img/line-1.svg" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img class="image" src="../static/img/image-41.png" />
            </div>
            <div class="ON-time">
              <div class="overlap-2">
                <div class="text-wrapper-3">Enter time</div>
                <div class="div-wrapper"><div class="text-wrapper-4">10</div></div>
                <div class="overlap-group-3"><div class="text-wrapper-5">00</div></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-3"></div>
                <div class="text-wrapper-6">Hours</div>
                <div class="text-wrapper-7">Minute</div>
                <div class="text-wrapper-8">Cancel</div>
                <div class="text-wrapper-9">OK</div>
                <div class="time-scheduling-icon"></div>
              </div>
              <div class="text-wrapper-10">ON time</div>
            </div>
            <div class="OFF-time">
              <div class="overlap-3">
                <div class="text-wrapper-11">Enter time</div>
                <div class="div-wrapper"><div class="text-wrapper-12">09</div></div>
                <div class="overlap-group-3"><div class="text-wrapper-13">00</div></div>
                <div class="ellipse-4"></div>
                <div class="ellipse-3"></div>
                <div class="text-wrapper-14">Hours</div>
                <div class="text-wrapper-15">Minute</div>
                <div class="text-wrapper-8">Cancel</div>
                <div class="text-wrapper-9">OK</div>
                <div class="time-scheduling-icon"></div>
              </div>
              <div class="text-wrapper-16">OFF time</div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-4">
                <div class="group-2">
                  <div class="overlap-group-4">
                    <div class="text-wrapper-17">PM</div>
                    <div class="PM-ON-rect"></div>
                  </div>
                </div>
                <div class="group-3">
                  <div class="overlap-5">
                    <div class="text-wrapper-18">AM</div>
                    <div class="AM-ON-rect"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-4">
              <div class="overlap-4">
                <div class="group-2">
                  <div class="overlap-group-4">
                    <div class="text-wrapper-17">PM</div>
                    <div class="PM-ON-rect"></div>
                  </div>
                </div>
                <div class="group-3">
                  <div class="overlap-5">
                    <div class="text-wrapper-18">AM</div>
                    <div class="AM-ON-rect"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="intensity">
              <div class="group-5">
                <div class="text-wrapper-19">0%</div>
                <div class="group-6">
                  <div class="overlap-group-5">
                    <!-- <img class="brightness-measure" src="../static/img/brightness-measure.png" /> -->
                    <div class="group-7">
                      <!-- <img class="intensity-control" src="../static/img/intensity-control.svg" /> -->
                      <!-- <div class="intensity-controller"> -->
                        <input type="range" id="intensitySlider" min="0" max="100" value="0" step="1">
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img class="img" src="../static/img/image-108.png" />
            <img class="image-2" src="../static/img/image-108.png" />
            <img class="image-3" src="../static/img/image-111.png" />
          </div>
          <footer class="footer">
            <div class="powered-by-EVOLUZN-wrapper">
              <p class="powered-by-EVOLUZN">
                <span class="span">Powered by</span>
                <span class="text-wrapper-20">&nbsp;</span>
                <span class="text-wrapper-21">EVOLUZN</span>
              </p>
            </div>
          </footer>
          <img class="image-4" src="../static/img/image-110.png" />
          <img class="image-5" src="../static/img/image-109.png" />
        </div>
      </div>
    </div>
    <script src="../static/js/led.js"></script>
  </body>
</html>
