<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOTAL_POWER</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>Total kWh: <span id="total_kwh"></span></h1>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/');

        socket.on('connect', function() {
            console.log('Connected to server');
            socket.emit('get_total_kwh');  // Request initial total kWh value on connection
        });

        socket.on('update_total_kwh', function(data) {
            document.getElementById('total_kwh').innerText = data.total_kwh;
        });
    </script>
</body>
</html>