<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
        <div
            style="height: 15vw;width: 30vh;background-color: aqua; margin-left: 5vw; margin-right: 5vw;margin-top: 3vh;">

        </div>
    </div>
</body>

</html>